@charset "UTF-8";

.terms { display: flex; flex-direction: column; flex-wrap: initial;}

ul.check-box.terms { display:flex; flex-wrap:initial; }
ul.check-box.terms li { position: relative; }
ul.check-box.terms li input[type="checkbox"] { position: absolute; top:50%; left:0; transform: translateY(-50%); border-radius: 50%; }
ul.check-box.terms li input[type="checkbox"] + label { padding:5px 34px; width:100%; }
/* 전체 동의 */
ul.check-box.terms li.check-all-area input[type="checkbox"] { left:20px; }
ul.check-box.terms li.check-all-area input[type="checkbox"] + label { padding:20px 54px; border-radius: 15px; border:1px solid #DDDDDD; }
ul.check-box.terms li.check-all-area input[type="checkbox"]:checked + label { border:1px solid var(--rc-active); }
/* 전체 동의 제외 체크박스 스타일 */
ul.check-box.terms li:not(.check-all-area) input[type="checkbox"] { border:none; background-color: transparent; }
ul.check-box.terms li:not(.check-all-area) input[type="checkbox"]:checked::before { background-color:var(--rc-active); }
/* 수신 동의 */
ul.check-box.terms ul.sub-check-box { display:flex; flex-wrap:wrap; padding:16px; gap:10px; }
ul.check-box.terms ul.sub-check-box  li input[type="checkbox"] + label { padding:0 0 0 34px; }